.challan-form-container {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.challan-form-main,
.challan-form-preview {
  flex: 1 1 50%;
  padding: 0.5rem;
  min-width: 300px;
}

@media (max-width: 992px) {
  .challan-form-main,
  .challan-form-preview {
    flex-basis: 100%;
  }
}
